<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>
<div ng-controller="MovieController as vm ">
    <input type="button" ng-click="vm.user(2)" value="User 2">
    <input type="button" ng-click="vm.user(558)" value="User 558">
    <input type="button" ng-click="vm.user(48)" value="User 48">
    <br>
    <input type="button" ng-click="vm.table('r')" value="Recommendations">
    <input type="button" ng-click="vm.table('p')" value="Predictions">
    <div ng-show="vm.tableOptions == 'r'">
        <h1>Recommendations</h1>
        <table>
            <tr>
                <td>Title</td>
                <td>Prediction Score</td>
            </tr>
            <tbody ng-repeat="i in vm.data.recommendations">
            <td>{{i.movie}}</td>
            <td>{{i.prediction}}</td>
            </tbody>
        </table>
    </div>
    <div ng-show="vm.tableOptions == 'p'">
        <h1>Predictions</h1>
        <table>
            <tr>
                <td>Title</td>
                <td>Score</td>
            </tr>
            <tbody ng-repeat="i in vm.data.predictions">
                <td>{{i.movie}}</td>
                <td>{{i.prediction}}</td>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>